<div class='cointainer'>

  <div class='flex-row'> 
    <!-- Heading -->
    <div class='d-flex justify-content-center'>
      <h1> Task Manager App </h1>
    </div> 
    <div class='d-flex justify-content-center'>
      <p> All your tasks in one single place :) </p>
    </div>
  </div>
  <!-- Display of random tasks-->
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Tasks (ID)</th>
          <th scope="col">Tittle</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <% @tasks.each do |task| %>
          <tr>
            <td scope="row"><%= task.id%></td>
            <td><%= task.title %></td>
            <td scope="row"><%= task.status%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


